@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");

.header-container {
  height: 150px;
}

h1 {
  font-family: "Bungee Outline", cursive;
  color: #c6d8d3;
  font-size: 80px;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  color: #c6d8d3;
  font-family: "Fredoka One", cursive;

  font-size: 17px;
  text-align: center;
  margin-top: 0;
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(glow-header) {
  from {
    text-shadow: 0 0 0 #5b8679;
  }
  to {
    text-shadow: 0 5px 20px #c6d8d3;
  }
}

.text-shadow-drop-center {
  @include animation("glow-header 1s ease-in-out infinite alternate;");
}
