@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Fredoka+One&display=swap");

p {
  font-family: "Fredoka One", cursive;
  font-size: 50px;
}

.first {
  color: #ffd5ad;
}

.second {
  color: #fdb2af;
}

.container-player {
  width: 30vw;
  text-align: center;
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(glow-first-player) {
  from {
    text-shadow: 0 0 0 #ffaa5a;
    font-size: 19px;
  }
  to {
    text-shadow: 0 5px 20px #ff9633;
    font-size: 29px;
  }
}

@include keyframes(glow-second-player) {
  from {
    text-shadow: 0 0 0 #fa7a75;
    font-size: 19px;
  }
  to {
    text-shadow: 0 5px 20px #f8403a;
    font-size: 29px;
  }
}

.text-turn-player1 {
  @include animation("glow-first-player 1s linear infinite alternate;");
}

.text-turn-player2 {
  @include animation("glow-second-player 1s linear infinite alternate;");
}
